[ubuntu_servers]
{% if ubuntu_servers %}
{% for host in ubuntu_servers %}
{{ host[0] }} ansible_ssh_host={{ host[1] }} ansible_port={{ host[2].split('=')[1] }}
{% endfor %}
{% endif %}

[ubuntu_servers:vars]
ansible_ssh_user=admin
ansible_ssh_pass=1234567
ansible_become=true
ansible_become_user=root
ansible_become_pass=1234567

[centos_servers]
{% if centos_servers %}
{% for host in centos_servers %}
{{ host[0] }} ansible_ssh_host={{ host[1] }} ansible_port={{ host[2].split('=')[1] }}
{% endfor %}
{% endif %}

[centos_servers:vars]
ansible_ssh_user=user
ansible_ssh_pass=user
ansible_become=true
ansible_become_user=root
ansible_become_pass=user
